  *{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* border: 1px solid black;   */
  }

body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  font-family: 'IBM Plex Mono', monospace;
  overflow-x: hidden;

}


.header-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
}

.navBar-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 10px;

}


  
.navBar{
  list-style: none;
  display: flex;
  flex-direction: row ;
  justify-content: flex-end;
  align-items: center;
  margin-left: 80px;
  

}

.nav-link{
  padding: 1em;
  font-family: 'IBM Plex Mono' , monospace;
  font-size: 16px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  text-transform: uppercase;
}

.logo-container{
  justify-self: center;
  margin: 1em;
  
}

.logo-container img{
  width: 36px;
  height: 35px;
}

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10em;
  margin-top: 5em;
}

.hero-btn{
  width: 226px;
  height: 56px;
  background-color: #00F3BB;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: 'IBM Plex Mono' , monospace;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  margin-top: 50px;
  margin-left: 10rem;
  text-transform: uppercase;
  
  }

  .hero-title{
    font-family: 'IBM Plex Sans' , sans-serif;
    font-size: 64px;
    font-weight: 200;
    color: #060A24;
    letter-spacing: 0;
    
  }

  .hero-text{
    width: 55%;
    font-family: 'IBM Plex Mono' , monospace;
    font-size: 16px;
    font-weight: 300;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
  }

  #world{
    text-decoration-line: line-through;
  }
  #punto{
    color: #0000EC;
  }
  
  .sections-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 50px;
  }

  .paralelogramo{
    position: absolute;
    top: auto;
    width: 100vw;
    height: 960px;
    transform: skewY(-5deg);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    z-index: -1;
  }

  .eps-title{
    margin-top: 5rem;
    margin-left: 10rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0;

  }

  .episodios-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .episodios-item {
    padding: 40px;
    flex-basis: 50%;
  }


  .nosotros-container{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;

  }

  .us-img-container{
    padding: 5%;
  }
  .us-img-container img{
    width: 456px;
    height: 660px;

  }

  .us-text-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    

  }
  .us-title{
    font-family: "IBM Plex Sans" , sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    text-align: left;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .us-text{
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px; 
  }

  .invitados-container{
    display: flex;
    flex-direction: column;

  }

  .invit-img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
  }

  .invit-img-container img{  
    width: 33%;
    height: 20%;

    /* esta medida es para que salgan 3 x 2 las fotos */
  }
  .invit-title{
    font-family: "IBM Plex Sans" , sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-size: 48px;
    font-weight: 300;
    margin-left: 10rem;
    margin-bottom: 2rem;
    


  }

  .topicos-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5% ;
    width: 100vw;
  }

  .topicos-title{
    display: flex;
    align-self: flex-start;
    font-family: "IBM Plex Sans" , sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-size: 48px;
    font-weight: 300;
    margin-left: 10rem;
    

  }

  .topic-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    margin-top: 5%;
  }

  .icon-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px ;
    height: 130px;
  }

  .icon-item img{
    width: 104px;
    height: 104px;
  }

 h4{
   display: flex;
   justify-content: center;
   align-items: center;
  font-family: "IBM Plex Sans" , sans-serif;
  color: #060A24;
  font-size: 24px;
  letter-spacing: 0;
  text-align: center; 
  width: 80%;
  margin-top: 15px;
  }

  


  /* FOOTER */
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;

  }

  .paralelogramo-footer{
    position: absolute;
    width: 100vw;
    height: 500px;
    transform: skewY(-5deg);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    z-index: -1;
  }

  .more-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 100vw;
  }

  .more-title{
    font-family: "IBM Plex Sans" , sans-serif;
    font-size: 48px;
    letter-spacing: 0;
    font-size: 48px;
    font-weight: 300;
    
  }

  .more-btn{
  width: 345px;
  height: 56px;
  background-color: #00F3BB;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: 'IBM Plex Mono' , monospace;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  margin-top: 50px;
  text-transform: uppercase;
  }



  .footer-navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 5%;
    padding: 6%;
    background-color: #FFFFFF;
  }

  .firma{
    
    font-family: "IBM Plex Mono" , monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
  }
